{% extends "base.html" %}
{% block content %}

<form method = "POST">
    {{ form.hidden_tag() }}
    <div class = "mt-5">
        {% for f in form %}
            <p class = "text-center">
                {% if f.id != "csrf_token" %}
                    {% if f.id == "submit" %}
                        {{f(size=32)}}
                    {% else %}
                        {{f.label}}
                        {{f(size=32)}}
                    {% endif %}
                {% endif %}
            </p>
        {% endfor %}
    </div>
</form>

{% for question in questions %}
    <div class = "text-white bg-dark ml-5 mr-5 mb-5"> 
        <p class = "text-center font-weight-bold" > Question Number {{question.id}} </p>
        <p class = "text-center" > {{question.question_text}} </p>
        <p class = "text-center" > {{question.answer_text}} </p>
        <a href = "{{ url_for('main_routes.del_question', question_id=question.id) }}" class = "btn d-flex justify-content-center">Delete</a>
    </div>
{% endfor %}



{% endblock%}